DATABASE_URL="postgresql://postgres.gxpmuawzghctnpkcgfft:uLEUh*YJdk94Jz_@aws-0-us-east-2.pooler.supabase.com:5432/whitelabel_db?pgbouncer=true"

#DATABASE_URL="postgresql://postgres:root123@127.0.0.1:5432/globales"

JWT_SECRET=dej@merobart3unbesoqu3mellegu3hastaelalmac0mounvall3natodeesosvi3josken0sgustaban

# Email Configuration (usando Gmail como ejemplo)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=clavitooo.01@gmail.com
SMTP_PASS=bpxy avyb rmvp qqpd
SMTP_EMAIL_FROM="WhiteLabel <clavitooo.01@gmail.com>"

# JWT Secret para tokens de reset
JWT_SECRET_RESET=Lastimaques3saJenaynopued0darte3lmejorqu3Teng0Lastimaquelleg0latard3ynontengollav3parabritucuerpo

# URL base de tu aplicación
BASE_URL=http://localhost:8081

# Configuración de la aplicación
APP_NAME=WhiteLabel

# Configuración del entorno
NODE_ENV=development