#DATABASE_URL="postgresql://postgres.gxpmuawzghctnpkcgfft:uLEUh*YJdk94Jz_@aws-0-us-east-2.pooler.supabase.com:5432/whitelabel_db?pgbouncer=true" #supabase
#DATABASE_URL="postgresql://postgres:root@127.0.0.1:5432/whitelabel_db"  #local
DATABASE_URL="postgresql://chambeador_dev:M4racuya3nL3ch3!2005$@Jmvserver.mooo.com:5432/whitelabel_db?pgbouncer=true"  #Josue`s Server


JWT_SECRET=dej@merobart3unbesoqu3mellegu3hastaelalmac0mounvall3natodeesosvi3josken0sgustaban

# Email Configuration (usando Gmail como ejemplo)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=clavitooo.01@gmail.com
SMTP_PASS=bpxy avyb rmvp qqpd
SMTP_EMAIL_FROM="WhiteLabel <clavitooo.01@gmail.com>"

# JWT Secret para tokens de reset
JWT_SECRET_RESET=Lastimaques3saJenaynopued0darte3lmejorqu3Teng0Lastimaquelleg0latard3ynontengollav3parabritucuerpo

# URL base de tu aplicación
BASE_URL=http://localhost:8081

# Configuración de la aplicación
APP_NAME=WhiteLabel

# Configuración Tilopay
TILOPAY_API_KEY=6950-2394-8973-3892-6747
TILOPAY_API_USER=bxlwye
TILOPAY_API_PASSWORD=20tv9e
TILOPAY_BASE_URL=https://app.tilopay.com/api/v1

# Configuración del entorno
NODE_ENV=development